In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Dataset_w6.xlsx")
df.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

# How many countries are there in the dataset.

In [3]:
df.country.count()

196

# How many countries with respect to the region are available in the dataset

In [4]:
df1 = df.groupby('Region').size().sort_values().reset_index(name='country')
df1

               Region  country
0             Oceania        2
1     NorthernAmerica        4
2          Micronesia        4
3      SouthernAfrica        5
4         CentralAsia        5
5           Polynesia        5
6      NorthernAfrica        5
7           Melanesia        5
8       WesternEurope        7
9         EasternAsia        7
10     CentralAmerica        8
11       SouthernAsia        9
12       MiddleAfrica        9
13      EasternEurope       10
14     NorthernEurope       10
15  South-easternAsia       11
16       SouthAmerica       12
17     SouthernEurope       12
18      WesternAfrica       15
19          Caribbean       16
20      EasternAfrica       17
21        WesternAsia       18

# On average which region has the highest

In [ ]:
#GDP per capita (current US$)

In [7]:
data=df.groupby('Region', as_index=False)[['GDP per capita (current US$)']].mean()
data1=p.sort_values(by=['GDP per capita (current US$)'], ascending=False)
data1.head(1)

             Region  GDP per capita (current US$)
10  NorthernAmerica                       57659.0

In [ ]:
#International trade: Imports (million US$)

In [8]:
data2=df.groupby('Region', as_index=False)[['International trade: Imports (million US$)']].mean()
data3=data2.sort_values(by=['International trade: Imports (million US$)'], ascending=False)
data3.head(1)

             Region  International trade: Imports (million US$)
10  NorthernAmerica                                   663552.25

# which region is more consistent with respect to GDP per capita (current US$)

In [11]:
data4=df.groupby('Region', as_index=False)[['GDP per capita (current US$)']].std()
data5=data4.sort_values(by=['GDP per capita (current US$)'])
data5.head(1)

           Region  GDP per capita (current US$)
19  WesternAfrica                    815.095399